<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<form method="post" action="/users">
    <input name="userName" type="text" id="userName">
    <label for="userName">username</label>
    <input name="email" type="email" id="email">
    <label for="email">email</label>
    <input name="password" type="password" id="password">
    <label for="password">password</label>
    <button>register</button>
</form>

</body>
</html>